rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Products
    match /products/{productId} {
      allow read, write: if true;
    }

    // Categories
    match /categories/{categoryId} {
      allow read, write: if true;
    }

    // Store Settings
    match /storeSettings/{settingId} {
      allow read, write: if true;
    }

    // Orders
    match /orders/{orderId} {
      allow read, write: if true;
    }

    // Prescriptions
    match /prescriptions/{prescriptionId} {
      allow read, write: if true;
    }

    // Fallback rule
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

